@page
@model SchoolGradebook.Areas.Admin.Pages.Subjects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-row h-100 mt-5">
    <div class="d-flex flex-column w-100">
        <h1>@Model.Subject.Name</h1>
        <p>@Model.Subject.Teacher.getFullName()</p>
        @if (Model.Students.Length == 0)
        {
            <p class="alert alert-warning my-5">Zatím v předmětu nejsou žádní studenti 🙁</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Jméno
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Students.Length; i++)
                    {

                        <tr>
                            <td>
                                <a asp-area="Admin" asp-page="/Students/Details" asp-route-id="@Model.Students[i].Id">@Model.Students[i].getFullName()</a>
                            </td>
                            <td>
                                <a asp-area="Admin" asp-page="/Enrollments/Delete" asp-route-id="@Model.Subject.Enrollments.Where(e => e.StudentId == Model.Students[i].Id).FirstOrDefault().Id">Odebrat</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<div>
    <a asp-area="Admin" asp-page="./Index">Všechny předměty</a>
</div>
