@page
@model SchoolGradebook.Areas.Admin.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detail</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.UserAuthId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.UserAuthId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StreetAdrress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StreetAdrress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CityAdrress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CityAdrress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PersonalIdentifNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PersonalIdentifNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PhoneNumber)
        </dd>



        @if (Model.Student.Enrollments.Count == 0)
        {

            <p class="alert alert-warning my-5">Student namá přiřazený žádný předmět 🙁</p>

        }
        else
        {

            <dt class="col-sm-2">
                Přiřazen k:
            </dt>

            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Předmět</th>
                        <th>Učitel</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Student.Enrollments)
                    {
                        <tr>
                            <td>
                                @item.Subject.Name
                            </td>
                            <td>
                                @item.Subject.Teacher.getFullName()
                            </td>
                            <td>
                                <a asp-area="Admin" asp-page="/Enrollments/Delete" asp-route-id="@item.Id">Odebrat</a>
                            </td>
                        </tr>
                    }
                </table>
            </dd>

        }
    </dl>
    <a asp-area="Admin" asp-page="/Enrollments/Create" asp-route-StudentId="@Model.Student.Id">Přidat studentovi předmět</a>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Upravit</a> |
    <a asp-page="./Index">Zpět</a>
</div>
