@page
@model SchoolGradebook.Pages.Admin.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit studenta</h1>
<div>
    <hr />
    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@(Model.ErrorMessage)</div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            Jméno
        </dt>
        <dd class="col-sm-10">
            @Model.Student.FirstName
        </dd>
        <dt class="col-sm-2">
            Příjmení
        </dt>
        <dd class="col-sm-10">
            @Model.Student.LastName
        </dd>
        <dt class="col-sm-2">
            Datum narození
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Birthdate.GetValueOrDefault().ToString("dd. M. yyyy")
        </dd>

        <dt class="col-sm-2">
            Místo narození
        </dt>
        <dd class="col-sm-10">
            @Model.Student.PlaceOfBirth
        </dd>
        <dt class="col-sm-2">
            Rodné číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Student.PersonalIdentifNumber
        </dd>
        <dt class="col-sm-2">
            Číslo občanského průkazu
        </dt>
        <dd class="col-sm-10">
            @Model.Student.IdentifCardNumber
        </dd>
        <dt class="col-sm-2">
            Číslo pojišťovny
        </dt>
        <dd class="col-sm-10">
            @Model.Student.InsuranceCompany
        </dd>

        <dt class="col-sm-2">
            Ulice
        </dt>
        <dd class="col-sm-10">
            @Model.Student.StreetAddress
        </dd>
        <dt class="col-sm-2">
            Město
        </dt>
        <dd class="col-sm-10">
            @Model.Student.CityAddress
        </dd>
        <dt class="col-sm-2">
            PSČ
        </dt>
        <dd class="col-sm-10">
            @Model.Student.ZipCode
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Email
        </dd>
        <dt class="col-sm-2">
            Telefonní číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Student.PhoneNumber
        </dd>
    </dl>
    @if (Model.Student.Grades?.Count > 0)
    {
        <div class="alert alert-danger">Se studentem/kou bude odstraněno také @Model.Student.Grades.Count známek</div>
    }
    else
    {
        <div class="alert alert-info">Student/ka nemá přiřazené žádné známky</div>
    }

    @if (Model.Student.StudentGroupEnrollments?.Count > 0)
    {
        <div class="alert alert-danger">
            Student/ka bude odstraněn/a z těchto skupin:
        </div>
        <dl>
            @foreach (var sge in Model.Student.StudentGroupEnrollments)
            {
                <dt class="col-sm-2">
                    Název skupiny:
                </dt>
                <dd class="col-sm-10">
                    @sge.StudentGroup.Name
                </dd>
            }
        </dl>
    }
    else
    {
        <div class="alert alert-info">Student/ka není přiřazený/á v žádných skupinách</div>
    }


    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět</a>
    </form>
</div>
