@page
@model SchoolGradebook.Pages.Student.Subjects.DetailsModel

@using SchoolGradebook.Services;
@using SchoolGradebook.Models;
@inject Analytics analytics
@using System.Globalization;
@using MimeTypes;

@{
    ViewData["Title"] = "Details";
    System.Threading.Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("cs-CZ");
}

<div class="main-container">
    @if (Model.SubjectAverage.CompareTo(Double.NaN) == 0)
    {
        <div class="d-flex flex-column">
            <h1>@Model.Subject.SubjectType.Name</h1>
            <h4>@Model.Subject.Teacher.GetFullName()</h4>
        </div>


    }
    else
    {
        <div class="d-flex flex-column">
            <h1>@Model.Subject.SubjectType.Name</h1>
            <h4>@Model.Subject.Teacher.GetFullName()</h4>
        </div>
        <div class="d-flex flex-column">
            <h3 class="text-left" style="font-weight: 400;">
                Průměr: <strong>
                    @(Model.SubjectAverage.ToString("f2"))
                </strong>
            </h3>
            @Html.Raw(ViewData["ComparisonString"])
        </div>
    }
</div>
<div class="main-container">
    <div class="d-flex flex-column">
        <p class="table-heading">Známky</p>
        @if (Model.SubjectAverage.CompareTo(Double.NaN) == 0)
        {
            <p class="alert alert-info my-1">Zatím ti vyučující nepřidal žádné známky 🙁</p>
        }
        else
        {
            <table class="table table-responsive table-white">
                <tbody>
                    @foreach (Grade x in await analytics.GetGradesByUserAuthAsync(Model.UserId, Model.Subject.Id))
                    {
                        <tr>
                            <td>
                                <strong>
                                    @x.Value.ToString()
                                </strong>
                            </td>
                            <td>
                                <a asp-page="/Student/Grades/Details" asp-route-gradeId="@x.Id">
                                    @LanguageHelper.getShorterString(x.Name, 25)
                                </a>
                            </td>
                            <td>
                                @LanguageHelper.getRelativeTime(x.Added)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row flex-wrap">
            <p class="table-heading">Materiály</p>
            @if (Model.SubjectMaterials.Count > 0)
            {
                <table class="table table-responsive table-white">
                    <tbody>
                        @foreach (SchoolGradebook.Models.SubjectMaterial subjectMaterial in Model.SubjectMaterials)
                        {
                            <tr>
                                <td>
                                    <img src="~/images/icons/@(MimeTypeMap.GetExtension(MimeTypeMap.GetMimeType(subjectMaterial.FileExt)).Substring(1)).png" />
                                </td>
                                <td>@subjectMaterial.Name</td>
                                <td class="text-muted">@subjectMaterial.Added.ToLocalTime().ToString("d. MMMM")</td>
                                <td><a class="btn btn-primary" asp-page="Materials/Details" asp-route-id="@subjectMaterial.Id">Otevřít</a></td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="alert alert-info my-1 w-100">Zatím ti vyučující nepřidal žádné materiály 🙁</p>
            }
        </div>
    </div>
</div>

<div>
    <a asp-page="/Student/Index">Všechny předměty</a>
</div>
