@page
@model SchoolGradebook.Pages.Student.Subjects.IndexModel
@using SchoolGradebook.Services
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject Analytics analytics
@inject IHttpContextAccessor httpContextAccessor

@{
    string UserId = httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewData["Title"] = "Index";
}

<h1>Všechny tvé předměty</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].SubjectTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subjects)
        {

            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @item.SubjectTypeId
                    </a>
                </td>
                <td>
                    @item.Teacher.GetFullName()
                </td>
                <td>
                    @Html.Raw((await analytics.GetSubjectAverageForStudentAsync(UserId, item.Id)).CompareTo(Double.NaN) == 0 ?
                   "Žádné známky" : (await analytics.GetSubjectAverageForStudentAsync(UserId, item.Id)).ToString("f2"))
                </td>
            </tr>
        }
    </tbody>
</table>
