@page
@model SchoolGradebook.Pages.Admin.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>Detail vyučujícího</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Jméno
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.FirstName
        </dd>
        <dt class="col-sm-2">
            Příjmení
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.LastName
        </dd>
        <dt class="col-sm-2">
            Datum narození
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.Birthdate.GetValueOrDefault().ToString("dd. M. yyyy")
        </dd>
        <dt class="col-sm-2">
            Místo narození
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.PlaceOfBirth
        </dd>
        <dt class="col-sm-2">
            Rodné číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.PersonalIdentifNumber
        </dd>
        <dt class="col-sm-2">
            Datum nástupu
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.StartDate.GetValueOrDefault().ToString("dd. M. yyyy") @($"(roků: {((DateTime.Now - Model.Teacher.StartDate).Value.TotalDays / 365.25):f0})")
        </dd>
        <dt class="col-sm-2">
            Dosažené vzdělání
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.EducationLevel
        </dd>
        <dt class="col-sm-2">
            Aprobace
        </dt>
        <dd class="col-sm-10">
            <ul class="pt-3">
                @foreach (var a in Model.Approbations)
                {
                    <li>@a.SubjectType.Name</li>

                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Číslo občanského průkazu
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.IdentifCardNumber
        </dd>
        <dt class="col-sm-2">
            Číslo pojišťovny
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.InsuranceCompany
        </dd>
        <dt class="col-sm-2">
            Ulice
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.StreetAddress
        </dd>
        <dt class="col-sm-2">
            Město
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.CityAddress
        </dd>
        <dt class="col-sm-2">
            PSČ
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.ZipCode
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.Email
        </dd>
        <dt class="col-sm-2">
            Telefonní číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.PhoneNumber
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id">Upravit</a> |
    <a asp-page="./Index">Zpět</a>
</div>
