@page
@model SchoolGradebook.Pages.Admin.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
    int studentAge = (DateTime.Now - Model.Teacher.Birthdate.GetValueOrDefault()).Days / 365;
}

<div class="d-flex">
    <div class="side-pane box-shadow">
        <a class="btn btn-primary" asp-page="./Index"><img src="~/images/back.png" alt="Přidat" height="18px" class="btn-icon" />Zpět</a>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Teacher.Id"><img src="~/images/edit.png" alt="Upravit" height="18px" class="btn-icon" />Upravit</a>
        <a class="btn btn-outline-primary" asp-page="./Details" asp-page-handler="print" asp-route-id="@Model.Teacher.Id"><img src="~/images/print.svg" alt="Vytisknout" height="20px" class="btn-icon" />Tisk výpisu</a>
    </div>
    <div class="d-flex flex-column flex-grow-1 ml-5">
        <div class="d-flex flex-column">
            <h1>@Model.Teacher.GetFullName()</h1>
        </div>
        <div class="d-flex flex-row">
            <div class="mr-3 d-flex flex-row flex-grow-1">
                <div class="d-flex flex-column">
                    <p class="table-heading">Základní údaje</p>
                    <table class="table table-dense">
                        <tr>
                            <td>Věk:</td>
                            <td>@(studentAge) let</td>
                        </tr>
                        <tr>
                            <td>Datum narození:</td>
                            <td>@Model.Teacher.Birthdate.GetValueOrDefault().ToString("d. M. yyyy")</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@Model.Teacher.Email</td>
                        </tr>
                        <tr>
                            <td>Telefoní číslo:</td>
                            <td>@Model.Teacher.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="flex-grow-1">
                <p class="table-heading">Detailní údaje</p>
                <table class="table table-dense">
                    <tr>
                        <td>Datum nástupu:</td>
                        <td>@Model.Teacher.StartDate.GetValueOrDefault().ToString("d. M. yyyy")</td>
                    </tr>
                    <tr>
                        <td>Dosažené vzdělání:</td>
                        <td>@(Model.Teacher.EducationLevel)</td>
                    </tr>
                    <tr>
                        <td>Rodné číslo:</td>
                        <td>@(Model.Teacher.PersonalIdentifNumber)</td>
                    </tr>
                    <tr>
                        <td>Místo narození:</td>
                        <td>@Model.Teacher.PlaceOfBirth</td>
                    </tr>
                    <tr>
                        <td>Číslo občanského průkazu:</td>
                        <td>@Model.Teacher.IdentifCardNumber</td>
                    </tr>
                    <tr>
                        <td>Pojišťovna:</td>
                        <td>@Model.Teacher.InsuranceCompany</td>
                    </tr>
                    <tr>
                        <td>Trvalé bydliště:</td>
                        <td>@($"{Model.Teacher.StreetAddress}, {Model.Teacher.ZipCode} {Model.Teacher.CityAddress}")</td>
                    </tr>
                </table>
                @if (Model.Approbations.Count == 0)
                {

                    <p class="alert alert-warning my-5">Vyučující namá přiřazenou žádnou aprobaci 🙁</p>

                }
                else
                {
                    <p class="table-heading">Aprobace</p>
                    <table class="table table-dense">
                        @foreach (var item in Model.Approbations)
                        {
                            <tr>
                                <td>
                                    @item.SubjectType.Name
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>