@page
@model SchoolGradebook.Pages.Admin.Teachers.IndexModel
@using SchoolGradebook.Models
@inject SchoolContext context;

@{
    ViewData["Title"] = "Index";
}

<h1>Vyučující</h1>
<p>
    <a asp-page="Create">Přidat nového vyučujícího</a>
</p>
<form class="search-bar">
    <label for="search">Zadejte jméno nebo příjmení učitele</label>
    <input class="form-control" id="search">
</form>
<table class="table">
    <thead>
        <tr>
            <th>Aktivační kód</th>
            <th>
                Stav
            </th>
            <th>
                Jméno a příjmení
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-white">
        @foreach (Teacher teacher in Model.Teachers)
        {
            HumanActivationCode c = context.HumanActivationCodes
                .Where(b => b.TargetId == teacher.Id)
                .Where(b => b.CodeType == CodeType.Teacher)
                .FirstOrDefault();
            bool hasActivationCode = c != null;
            <tr>
                <td>
                    @if (hasActivationCode)
                    {
                        @c.HumanCode
                    }
                </td>
                <td>
                    @if (teacher.UserAuthId != null)
                    {
                        @("Spárováno")
                    }
                </td>
                <td class="search-data">
                    @teacher.GetFullName()
                </td>
                <td>
                    <a asp-page="/HumanCodes/Create"
                       asp-route-targetId="@teacher.Id"
                       asp-route-codeType="@CodeType.Teacher">Vygenerovat nový kód</a> |
                    <a asp-page="./Edit" asp-route-id="@teacher.Id">Upravit</a> |
                    <a asp-page="./Details" asp-route-id="@teacher.Id">Detaily</a> |
                    <a asp-page="./Delete" asp-route-id="@teacher.Id">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/search.js"></script>
}