@page
@model SchoolGradebook.Areas.Teacher.Pages.Subjects.DetailsModel

@using SchoolGradebook.Services;
@using SchoolGradebook.Models;
@inject Analytics analytics

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-row h-100 mt-5">
    <div class="d-flex flex-column w-50">
        <h1>@Html.Raw(Model.Subject.Name)</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].LastName)
                    </th>
                    <th>
                        Průměr
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Models.Student s in Model.Students)
                {

                    <tr>
                        <td>
                            @Html.Raw(s.FirstName)
                        </td>
                        <td>
                            @Html.Raw(s.LastName)
                        </td>
                        <td>
                            @Html.Raw(await analytics.getSubjectAverageForStudentByStudentIdAsync(s.Id, Model.Subject.Id))
                        </td>
                        <td>
                            <a asp-area="Teacher" asp-page="/Grades/Create" asp-route-SubjectId="@Model.Subject.Id">Přidat známku</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-page="./Index">Všechny předměty</a>
</div>
