@page "{gradeId}"
@model SchoolGradebook.Pages.Student.Grades.DetailsModel
@using System.Globalization;

@{
    ViewData["Title"] = "Známka";
    System.Threading.Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("cs-CZ");
}

<div>
    <h1>@Model.Grade.Name</h1>
    <dl class="row">
        <dt class="col-sm-2">
            Známka
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Value
        </dd>
        <dt class="col-sm-2">
            Předmět
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.SubjectInstance.SubjectType.Name
        </dd>
        <dt class="col-sm-2">
            Datum přidání
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Added.ToLocalTime().ToString("d. MMMM yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            Vyučující
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.SubjectInstance.Teacher.GetFullName()
        </dd>

    </dl>@if (Model.Grade.AddedBy == Models.Grade.USERTYPE.Student)
    {
        <div class="my-3">
            <form method="post">
                <input type="hidden" name="id" value="@Model.Grade.Id" />
                <input type="submit" value="Odstranit známku" class="btn btn-danger" />
            </form>
        </div>
    }
</div>
<div>
    <a asp-page="/Student/Subjects/Details" asp-route-id="@Model.Grade.SubjectInstanceId">Zpět</a>
</div>
