@page
@model SchoolGradebook.Pages.Student.Grades.IndexModel
@using SchoolGradebook.Services;

@{
    ViewData["Title"] = "Tvé známky";
}
    <h1>Všechny známky</h1>

@if (Model.Grades.Count == 0)
{
    <h2 class="text-center mt-5">Žádné známky 🙁</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Předmět
                </th>
                <th>
                    Známka
                </th>
                <th>
                    Přidáno
                </th>
                <th>
                    Učitel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Grades)
            {
                <tr>
                    <td>
                        @item.SubjectInstance.SubjectType.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @LanguageHelper.getRelativeTime(item.Added)
                    </td>
                    <td>
                        @item.SubjectInstance.Teacher.GetFullName()
                    </td>
                    <td>
                        <a asp-page="Details" asp-route-gradeId="@item.Id">Zobrazit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}
