@page
@model SchoolGradebook.Pages.Teacher.Subjects.DetailsModel
@using SchoolGradebook.Models;
@using System.Globalization;
@using MimeTypes;

@{
    ViewData["Title"] = "Details";
    System.Threading.Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("cs-CZ");

}

<div class="main-container">
    <div class="d-flex flex-column">
        <h1>@Model.Subject.SubjectType.Name</h1>
        <h5>@String.Join(" + ", Model.StudentGroupNames) </h5>
        <h6>Počet studentů: @Model.Students.Length</h6>
        <div class="table-heading-group">
            <p class="table-heading">Studenti</p>
            <div>
                <a asp-page="" asp-page-handler="print" asp-route-id="@Model.Subject.Id" class="btn btn-outline-primary"><img src="~/images/print.svg" alt="Vytisknout" height="20px" class="btn-icon" />Tisk výpisu</a>
                <a asp-page="./Grades" class="btn btn-primary">Známky</a>
            </div>
        </div>
        <table class="table table-responsive table-white">
            <tbody>
                @foreach (var i in Model.StudentsAndAverageAndGrades)
                {

                    <tr>
                        <td>
                            <a asp-page="/Teacher/Students/Details" asp-route-id="@i.student.Id">@i.student.GetFullName()</a>
                        </td>
                        <td>
                            <strong>@($"{i.studentAverage:f2}")</strong>
                        </td>
                        <td>
                            @for (int y = 0; y < i.studentGrades.Count; y++)
                            {
                                @i.studentGrades[y].Value
                                if (y != i.studentGrades.Count - 1)
                                {
                                    @(",")
                                }
                            }
                        </td>
                        <td>
                            <a asp-page="/Teacher/Grades/Create" asp-route-SubjectInstanceId="@Model.Subject.Id" asp-route-StudentId="@i.student.Id">Přidat známku</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--Place for files-->
    </div>
    <div class="d-flex flex-column flex-wrap">
        <div class="table-heading-group">
            <p class="table-heading">Materiály</p>
            <a class="btn btn-primary" asp-page="Materials/Create" asp-route-SubjectInstanceId="@Model.Subject.Id"><img src="~/images/add.svg" alt="Přidat" height="18px" class="btn-icon" />Přidat materiál</a>
        </div>

        @if (Model.SubjectMaterials.Count > 0)
        {
            <div class="table table-responsive table-white">
                @foreach (SchoolGradebook.Models.SubjectMaterial subjectMaterial in Model.SubjectMaterials)
                {
                    <div class="row-custom">
                        <div class="cell-group">
                            <img class="cell" src="~/images/icons/@(MimeTypeMap.GetExtension(MimeTypeMap.GetMimeType(subjectMaterial.FileExt)).Substring(1)).png" />
                            <div class="cell"><span>@subjectMaterial.Name</span></div>
                        </div>
                        <div class="cell-group">
                            <div class="cell"><a class="btn btn-outline-primary" asp-page="Materials/Details" asp-route-id="@subjectMaterial.Id">Otevřít</a></div>
                            <div class="cell"><a class="btn btn-outline-danger" asp-page="Materials/Delete" asp-route-id="@subjectMaterial.Id">Odstranit</a></div>
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <p class="alert alert-info my-5">Zatím nebyly přidány žádné materiály 🙁</p>
        }
    </div>

</div>

<div>
    <a asp-page="/Teacher/Index">Všechny předměty</a>
</div>
