@page
@model SchoolGradebook.Pages.Subjects.IndexModel
@using SchoolGradebook.Services
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject Analytics analytics
@inject IHttpContextAccessor httpContextAccessor

@{
    string UserId = httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewData["Title"] = "Index";
}

<h1>Všechny tvé předměty</h1>
@if (User.IsInRole("teacher"))
{
    <p>
        <a asp-page="Create">Vytvořit nový</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.IsInRole("teacher"))
        {
            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.Raw(item.Teacher.getFullName())
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Upravit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Detail</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Odstranit</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.Subjects)
            {
    
        <tr>
            <td><a asp-page="./Details" asp-route-id="@item.Id">
    @Html.DisplayFor(modelItem => item.Name)</a>
</td>
            <td>
                @Html.Raw(item.Teacher.getFullName())
            </td>
            <td>
                @Html.Raw(analytics.getSubjectAverageForStudent(UserId, item.Id).CompareTo(Double.NaN) == 0 ?
               "Žádné známky" : analytics.getSubjectAverageForStudent(UserId, item.Id).ToString("f2"))
            </td>
        </tr>
            }
        }

    </tbody>
</table>
