@page
@model SchoolGradebook.Pages.Admin.Students.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detail</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            UserAuthId
        </dt>
        <dd class="col-sm-10">
            @Model.Student.UserAuthId
        </dd>
        <dt class="col-sm-2">
            Jméno
        </dt>
        <dd class="col-sm-10">
            @Model.Student.FirstName
        </dd>
        <dt class="col-sm-2">
            Příjmení
        </dt>
        <dd class="col-sm-10">
            @Model.Student.LastName
        </dd>
        <dt class="col-sm-2">
            Datum narození
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Birthdate.GetValueOrDefault().ToString("dd. M. yyyy")
        </dd>
        <dt class="col-sm-2">
            Ulice
        </dt>
        <dd class="col-sm-10">
            @Model.Student.StreetAddress
        </dd>
        <dt class="col-sm-2">
            Město
        </dt>
        <dd class="col-sm-10">
            @Model.Student.CityAddress
        </dd>
        <dt class="col-sm-2">
            PSČ
        </dt>
        <dd class="col-sm-10">
            @Model.Student.ZipCode
        </dd>
        <dt class="col-sm-2">
            Rodné číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Student.PersonalIdentifNumber
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Email
        </dd>
        <dt class="col-sm-2">
            Telefonní číslo
        </dt>
        <dd class="col-sm-10">
            @Model.Student.PhoneNumber
        </dd>



        @if (Model.Student.Enrollments.Count == 0)
        {

            <p class="alert alert-warning my-5">Student namá přiřazený žádný předmět 🙁</p>

        }
        else
        {

            <dt class="col-sm-2">
                Přiřazen k:
            </dt>

            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Předmět</th>
                        <th>Učitel</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Student.Enrollments)
                    {
                        <tr>
                            <td>
                                @item.SubjectInstance.Name
                            </td>
                            <td>
                                @item.SubjectInstance.Teacher.getFullName()
                            </td>
                            <td>
                                <a asp-page="/Admin/Enrollments/Delete" asp-route-id="@item.Id">Odebrat</a>
                            </td>
                        </tr>
                    }
                </table>
            </dd>

        }
    </dl>
    <a asp-page="/Admin/Enrollments/Create" asp-route-StudentId="@Model.Student.Id">Přidat studentovi předmět</a>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Upravit</a> |
    <a asp-page="./Index">Zpět</a>
</div>
