@page
@model SchoolGradebook.Pages.Admin.Students.IndexModel
@using SchoolGradebook.Models
@inject SchoolContext context;

@{
    ViewData["Title"] = "Index";
}

<h1>Studenti</h1>
<p><a asp-page="./Create">Přidat studenta</a></p>
<p><a asp-page="/Admin/Import/Index">Naimportovat skupinu studentů</a></p>
<form class="search-bar">
    <label for="search">Zadejte jméno nebo příjmení studenta</label>
    <input class="form-control" id="search">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Aktivační kód
            </th>
            <th>
                Stav
            </th>
            <th>
                Jméno a příjmení
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-white">
        @foreach (var item in Model.Students)
        {
            HumanActivationCode c = context.HumanActivationCodes
                .Where(b => b.TargetId == item.Id)
                .Where(b => b.CodeType == CodeType.Student)
                .FirstOrDefault();
            bool hasActivationCode = c != null;
            <tr>
                <td>
                    @if (hasActivationCode)
                    {
                        @c.HumanCode
                    }
                </td>
                <td>
                    @if (item.UserAuthId != null)
                    {
                        @("Spárováno")
                    }
                </td>
                <td class="search-data">
                    @item.GetFullName()
                </td>
                <td class="btn-section">
                    <a class="btn btn-primary btn-condensed" asp-page="/Admin/Students/Details" asp-route-id="@item.Id">Zobrazit</a>
                    <a class="btn btn-outline-primary btn-condensed" asp-page="/Admin/Students/Edit" asp-route-id="@item.Id">Upravit</a>
                    <a class="btn btn-outline-primary btn-condensed" asp-page="/HumanCodes/Create"
                       asp-route-targetId="@item.Id"
                       asp-route-codeType="@CodeType.Student">Nový přístupový kód</a>
                    <a class="btn btn-outline-danger btn-condensed" asp-page="/Admin/Students/Delete" asp-route-id="@item.Id">Odstranit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/search.js"></script>
}