@page
@model SchoolGradebook.Pages.Teacher.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Model.Class.GetName()</h1>
    <h5>Třídní vyučující: @Model.Class.Teacher.GetFullName()</h5>
    <p class="table-heading">Studenti ve třídě<span class="badge badge-pill badge-success ml-3">@Model.Students.Count</span></p>
    @if (Model.Students.Count > 0)
    {
        <table class="table table-white">
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>
                            @student.FirstName
                        </td>
                        <td>
                            @student.LastName
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-page="/Teacher/Students/Details" asp-route-id="@student.Id">Zobrazit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-dark">Ve třídě nejsou žádní studenti 🙁</p>
    }

</div>
<div>
    <a asp-page="./Index">Všechny třídy</a>
</div>
