@page "{gradeId}"
@model SchoolGradebook.Pages.Teacher.Grades.DetailsModel
@using System.Globalization;

@{
    ViewData["Title"] = "Detail";
    System.Threading.Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("cs-CZ");
}

<div>
    <h1>@Model.Grade.Name</h1>
    <dl class="row">
        <dt class="col-sm-2">
            Předmět
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Subject.Name
        </dd>
        <dt class="col-sm-2">
            Známka
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Value
        </dd>
        <dt class="col-sm-2">
            Přidáno
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Added.ToLocalTime()
        </dd>
        <dt class="col-sm-2">
            Vyučující
        </dt>
        <dd class="col-sm-10">
            @Model.Grade.Subject.Teacher.getFullName()
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Zpět</a>
</div>
