@page
@model SchoolGradebook.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dateil</h1>

<div>
    <h4>Učitel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.UserAuthId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.UserAuthId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.StreetAdrress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.StreetAdrress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.CityAdrress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.CityAdrress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.PersonalIdentifNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.PersonalIdentifNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id">Upravit</a> |
    <a asp-page="./Index">Zpět</a>
</div>
