@page
@model SchoolGradebook.Pages.Student.IndexModel
@using  SchoolGradebook.Services
@using  SchoolGradebook.Models
@using MimeTypes;
@inject SubjectMaterialService subjectMaterialService;
@{
    ViewData["Title"] = "Domů";

}
<div class="text-center">
    <div class="main-container">
        <div class="d-flex flex-column">
            <div class="my-4 text-left">
                <h1 style="font-weight: 400;">
                    Ahoj <strong>@LanguageHelper.Sklonuj(Model.StudentFirstName)!</strong>
                </h1>
                <h3 class="mt-3" style="font-weight: 400;">
                    Pololetní průměr: <strong>
                        @Model.GPA
                    </strong>
                </h3>
                @Html.Raw(ViewData["ComparisonString"])
            </div>
        </div>
        <div class="d-flex flex-column">
            <p class="table-heading">Nové známky</p>
            <table class="table table-responsive table-white table-condensed">
                <tbody>
                    @foreach (var grade in Model.RecentGrades)
                    {
                        <tr>
                            <td>
                                <strong>
                                    @grade.Value.ToString()
                                </strong>
                            </td>
                            <td>
                                <a asp-page="/Student/Grades/Details" asp-route-gradeId="@grade.Id">
                                    @($"{LanguageHelper.getShorterString(grade.Name, 10)} | {LanguageHelper.getShorterString(grade.SubjectInstance.SubjectType.Name, 15)}")
                                </a>
                            </td>
                            <td>
                                @LanguageHelper.getRelativeTime(grade.Added)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p class="table-heading">Předměty</p>
    <div class="subject-container">
        @foreach (var x in Model.SubjectsAndSubjectAverages)
        {
            SubjectMaterial subjectMaterial = (await subjectMaterialService.GetAllMaterialsBySubjectInstance(x.subjectInstance.Id, 1)).FirstOrDefault();

            <div class="card">
                <div class="card-body pb-0">
                    <div>
                        <h5 class="card-title">@x.subjectInstance.SubjectType.Name</h5>
                        <p class="card-subtitle">@x.subjectInstance.Teacher.GetFullName()</p>
                    </div>
                    <div class="card-avg">
                        @x.subjectAverage
                    </div>
                </div>
                @if (subjectMaterial != null)
                {
                    <a class="no-bcg-onhover" asp-page="Subjects/Materials/Details" asp-route-Id="@subjectMaterial.Id">
                        <div class="card-body mt-3 py-0">
                            <div class="row-custom">
                                <img class="cell" src="~/images/icons/@(MimeTypeMap.GetExtension(MimeTypeMap.GetMimeType(subjectMaterial.FileExt)).Substring(1)).png" />
                                <div class="cell"><span>@(subjectMaterial.Name)</span></div>
                            </div>
                        </div>
                    </a>
                }
                <div class="card-body flex-column justify-content-end">
                    <a class="btn btn-primary" asp-page="/Student/Subjects/Details" asp-route-id="@x.subjectInstance.Id">Otevřít předmět</a>
                </div>
            </div>
        }
    </div>
</div>
