@page
@model SchoolGradebook.Pages.Student.TimetableModel
@using SchoolGradebook.Services
@using System.Globalization;
@{
    ViewData["Title"] = "Rozvrh hodin";
    string[] days = { "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek" };
    System.Threading.Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("cs-CZ");
    DateTime firstDayOfTermStartWeek = Model.TermStart.AddDays(-(int)Model.TermStart.DayOfWeek);
    DateTime firstDayOfThisWeek = firstDayOfTermStartWeek.AddDays((Model.Timetable.Week * 7) + 1);
}
<h1>Můj rozvrh</h1>
<p class="table-heading">
    Týden @firstDayOfThisWeek.ToShortDateString() - @firstDayOfThisWeek.AddDays(7).ToShortDateString() (@Model.WeekInTerm.)
</p>
@if (Model.DisplayModeRow == null || Model.DisplayModeRow == false)
{
    <div class="timetable box-shadow">
        <input hidden type="checkbox" id="displayModeRow">
        @for (int i = 0; i < Model.TimeFramesByDay.Length; i++)
        {
            <div class="tt-day-group">
                <div class="timeframe-day">@days[i]<br><small>@firstDayOfThisWeek.AddDays(i).ToString("d. M.")</small></div>

                @foreach (var tf in Model.TimeFramesByDay[i])
                {
                    if (tf.TimetableChange != null)
                    {
                        if ((bool)tf.TimetableChange.Canceled)
                        {
                            <div class="timeframe timeframe-change">
                                @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                                <strong>
                                    Volno
                                </strong><br>
                            </div>
                        }
                        else
                        {
                            var subjectInstance = tf.TimetableChange.CurrentSubjectInstance;
                            subjectInstance ??= tf.TimetableRecord.SubjectInstance;
                            var room = tf.TimetableChange.CurrentRoom;
                            room ??= tf.TimetableRecord.Room;
                            var teacher = tf.TimetableChange.CurrentTeacher;
                            teacher ??= tf.TimetableRecord.SubjectInstance.Teacher;
                            <div class="timeframe timeframe-change">
                                @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                                <strong>
                                    @($"{LanguageHelper.getShorterString(subjectInstance.SubjectType.Name, 99)}")
                                </strong><br>
                                @($"{room.Name} - {teacher.LastName}")<br>
                            </div>
                        }
                    }
                    else if (tf.TimetableRecord != null)
                    {
                        var si = tf.TimetableRecord.SubjectInstance;
                        <div class="timeframe">
                            @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                            <strong>
                                @(LanguageHelper.getShorterString(si.SubjectType.Name, 99))
                            </strong><br>
                            @($"{tf.TimetableRecord.Room.Name} - {si.Teacher.LastName}")<br>
                        </div>
                    }
                    else
                    {
                        <div class="timeframe timeframe-blank">
                            @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")
                        </div>
                    }

                }
            </div>
        }
    </div>
}
else
{<div class="timetable box-shadow flex-column">
        <input hidden type="checkbox" id="displayModeRow" checked>
        @for (int i = 0; i < Model.TimeFramesByDay.Length; i++)
        {
            <div class="tt-day-group d-flex flex-row">
                <div class="timeframe-day tt-width-5">@days[i]<br><small>@firstDayOfThisWeek.AddDays(i).ToString("d. M.")</small></div>

                @foreach (var tf in Model.TimeFramesByDay[i])
                {
                    if (tf.TimetableChange != null)
                    {
                        if ((bool)tf.TimetableChange.Canceled)
                        {
                            <div class="timeframe tt-width-5 timeframe-change">
                                @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                                <strong>
                                    Volno
                                </strong><br>
                            </div>
                        }
                        else
                        {
                            var subjectInstance = tf.TimetableChange.CurrentSubjectInstance;
                            subjectInstance ??= tf.TimetableRecord.SubjectInstance;
                            var room = tf.TimetableChange.CurrentRoom;
                            room ??= tf.TimetableRecord.Room;
                            var teacher = tf.TimetableChange.CurrentTeacher;
                            teacher ??= tf.TimetableRecord.SubjectInstance.Teacher;
                            <div class="timeframe tt-width-5 timeframe-change">
                                @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                                <strong>
                                    @($"{LanguageHelper.getShorterString(subjectInstance.SubjectType.Name, 99)}")
                                </strong><br>
                                @($"{room.Name} - {teacher.LastName}")<br>
                            </div>
                        }
                    }
                    else if (tf.TimetableRecord != null)
                    {
                        var si = tf.TimetableRecord.SubjectInstance;
                        <div class="timeframe tt-width-5">
                            @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")<br>
                            <strong>
                                @(LanguageHelper.getShorterString(si.SubjectType.Name, 99))
                            </strong><br>
                            @($"{tf.TimetableRecord.Room.Name} - {si.Teacher.LastName}")<br>
                        </div>
                    }
                    else
                    {
                        <div class="timeframe timeframe-blank tt-width-5">
                            @tf.Start.ToString("h:mm") - @tf.End.ToString("h:mm")
                        </div>
                    }

                }
            </div>
        }
    </div>
}
<span>BYDAY</span>
<ul>
    @foreach (var tfList in Model.TimeFramesByDay)
    {
        foreach (var tf in tfList)
        {
            if (tf.TimetableChange != null)
            {
                <li>TimeFrame Id: @tf.Id Canceled: @tf.TimetableChange.Canceled</li>
            }
        }
    }
</ul>
<span>BYDAY</span>
<ul>
    @foreach (var tf in Model.Timetable.TimeFrames)
    {
        if (tf.TimetableChange != null)
        {
            <li>TimeFrame Id: @tf.Id Canceled: @tf.TimetableChange.Canceled</li>
        }
    }
</ul>