@page
@model SchoolGradebook.Pages.Admin.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Předměty</h1>
<p>
    <a asp-page="Create">Vytvořit nový</a>
</p>
@if (Model.Subjects.Length == 0)
{
    <p class="alert alert-warning my-5">Zatím jste nevytvořil žádný předmět 🙁</p>
}
else
{
    <form class="search-bar">
        <label for="search">Zadejte název předmětu</label>
        <input class="form-control" id="search">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Název
                </th>
                <th>
                    Vyučující
                </th>
                <th>
                    Počet studentů
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Subjects.Length; i++)
            {
                <tr>
                    <td class="search-data">
                        @Model.Subjects[i].Name
                    </td>
                    <td>
                        @Model.Subjects[i].Teacher.getFullName()
                    </td>
                    <td>
                        @Model.StudentsCount[i]
                    </td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@Model.Subjects[i].Id">Upravit</a> |
                        <a asp-page="Details" asp-route-id="@Model.Subjects[i].Id">Detail</a> |
                        <a asp-page="Delete" asp-route-id="@Model.Subjects[i].Id">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
