@page
@model SchoolGradebook.Pages.HumanCodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Aktivační kódy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HumanActivationCodes[0].TargetId)
            </th>
            <th>
                Kód
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumanActivationCodes[0].CodeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HumanActivationCodes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TargetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumanCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
