@page "{subjectId?}"
@model SchoolGradebook.IndexModelGrades
@using SchoolGradebook.Models

@{
    ViewData["Title"] = "Tvé známky";
}
<--!>Each page has a route with subjectId, in index subjectId is optional</--!>
<h1>Známky</h1>
@if (User.IsInRole("teacher"))
{
    @Html.Raw(Model.SubjectId)
    @if (Model.Subject.Count == 0)
    {
        <p>
            <a asp-page="Create">Přidat známku</a>
        </p>
        <h2>Neučíte žádné předměty</h2>
    }
    else
    {
    <div class="d-flex justify-content-between">
        @foreach (Subject s in Model.Subject)
        {
            <div class="card" style="width: 18rem; margin: 0 1rem 0 1rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(s.Name)</h5>
                    <p class="card-text">Description</p>
                    <a asp-page="./Index" asp-route-subjectId="@s.Id">Otevřít</a>
                </div>
            </div>
        }
    </div>

    }

}
@if (User.IsInRole("student"))
{
    @if (Model.Grade.Count == 0)
    {
        <h2>Žádné známky</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade[0].Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade[0].Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade[0].Added)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade[0].Subject.Teacher)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Grade)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.Raw(Model.getRelativeTime(item.Added))
                        </td>
                        <td>
                            @Html.Raw(item.Subject.Teacher.FirstName + " " + item.Subject.Teacher.LastName)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
