@page
@model SchoolGradebook.IndexModelGrades
@using SchoolGradebook.Models
@using SchoolGradebook.Services
@inject Analytics analytics

@{
    ViewData["Title"] = "Tvé známky";
}
@if (User.IsInRole("teacher"))
{
    @if (Model.Subjects.Count == 0)
    {
        <h2 class="text-center mt-5">Neučíte žádné předměty</h2>
    }
    else
    { 
        <div class="d-flex justify-content-between">
            @foreach (Subject s in Model.Subjects)
            {
                <div class="card mx-1">
                    <div class="card-body">
                        <h5 class="card-title">@Html.Raw(s.Name)</h5>
                        <p class="card-text">Studentů: @Html.Raw(analytics.getStudentsCountInSubject(s.Id))</p>
                        <a class="btn btn-primary" asp-page="Create" asp-route-subjectId="@s.Id">Přidat známku</a>
                    </div>
                </div>
            }
        </div>

    }

}
@if (User.IsInRole("student"))
{
    @if (Model.Subject != null)
    {
        <h1>@Html.Raw(Model.Subject.Name)</h1>
        <p>@Html.Raw(Model.Teacher.getFullName())</p>
    }
    else
    {
        <h1>Všechny známky</h1>
    }

    @if (Model.Grades.Count == 0)
    {
        <h2 class="text-center mt-5">Žádné známky 🙁</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Předmět
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grades[0].Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grades[0].Added)
                    </th>
                    <th>
                        Učitel
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Grades)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.Raw(LanguageHelper.getRelativeTime(item.Added))
                        </td>
                        <td>
                            @Html.Raw(item.Subject.Teacher.getFullName())
                        </td>
                        <td>
                            <a asp-page="Details" asp-route-gradeId="@item.Id">Zobrazit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
